@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* Estilos globais */
body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Bungee', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("../img/background_games.jpg");
    background-size: cover;
}

/* Estilos para os botões de navegação */
.buttons {
    /* background-color: #0074d9;  */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Estilos para a div quadrada */
.square {
    width: 170px; /* Defina a largura desejada */
    height: 170px; /* Defina a altura desejada para criar um quadrado */
    border-radius: 40px; /* Adicione cantos arredondados ajustando o valor conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0074d9; /* Cor de fundo para a div */
    margin-left: 30px;
}


/* Estilização da imagem do jogo dentro da div quadrada */
.square p {
    font-size: 20px;
    color: white;
}

/* .square .game-image {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s;
    width: 100%;
} */


.buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* img{
    height: 110px;
    height: 110px;
} */

/* Estilização da imagem do jogo */
.image-container {
    position: relative;
    display: flex;
}

/* Estilização do overlay (efeito de transparência e texto) */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 116, 217, 0.7); /* Cor de fundo com transparência */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s;
}

.overlay-text {
    color: #fff;
    font-size: 20px;
}

/* Estilização do botão */
.game-button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.game-button:hover {
    background-color: #0056b3;
}

/* Efeito de hover para mostrar o overlay e tornar a imagem um pouco transparente */
.game-link:hover .game-image {
    opacity: 0.7;
}

.game-link:hover .image-overlay {
    opacity: 1;
}


.buttons2 button {
    height: 40px;
    height: 40px;
    font-size: 18px;
}

.buttons a {
    text-decoration: none;
    margin: 10px;
}

.buttons2 a {
    text-decoration: none;
    margin: 10px;
}

.buttons button {
    height: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #7100b3; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.buttons button:hover {
    background-color: #003f80; 
}

#titulo{
    color: #e7eaee; 
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0a8dff; 
    font-weight: 400;
}

p{
    font-size: 24px;
    text-align: center;
    color: #e7eaee; 

}


/* Estilos para os botões nas páginas individuais */
a button {
    background-color: #0056b3; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

a button:hover {
    background-color: #003f80; 
}
