<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Jogos diversos</h1>

    <div class="buttons2">
        <div class="square">
        <a href="DW2A4-Projeto/Pokedex/index.html" class="game-link">
            <div class="image-container">
                <!-- <img src="../img/pokedex.png" alt="" class="game-image"> -->
                <p>POKEDEX</p>
                <div class="image-overlay">
                    <p class="overlay-text">Clique para jogar</p>
                </div>
            </div>
        </a>
    </div>
</div>


</body>
</html>