<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Jogos de estratégia</h1>
    
    <!-- <div class="buttons2">
        <a href="../Jogo da Velha/index.html">
            <img src="../img/jogoDaVelha.jfif" alt="">
            <p>Jogo da Velha</p>
        </a>
    </div> -->

<div class="buttons2">
    <a href="../Jogo da Velha/index.html" class="game-link">
        <div class="image-container">
            <img src="../img/jogoDaVelha.jfif" alt="" class="game-image">
            <div class="image-overlay">
                <p class="overlay-text">Clique para jogar</p>
            </div>
        </div>
    </a>
</div>




</body>
</html>