<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Jogos de estratégia</h1>

    <div class="buttons2">
      <div class="square">
      <a href="../Jogo da Velha/index.html" class="game-link" target="_blank">
        <div class="image-container">
          <p>JOGO DA VELHA </p>
          <div class="image-overlay">
            <p class="overlay-text">Clique para jogar</p>
          </div>
        </div>
      </a>
    </div>

    <div class="square">

      <a href="../Labirinto/index.html" class="game-link" target="_blank">
        <div class="image-container">
          <!-- <img src="../img/labirinto.png" alt="" class="game-image" /> -->
          <p>LABIRINTO</p>
          <div class="image-overlay">
            <p class="overlay-text">Clique para jogar</p>
          </div>
        </div>
      </a>
    </div>
</div>

  </body>
</html>
