<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Jogos de tecnologia</h1>

    <div class="buttons2">
        <div class="square">
        <a href="../JogoDaMemoria/index.html" class="game-link">
            <div class="image-container">
                <!-- <img src="../img/memory-game-icon.png" alt="" class="game-image"> -->
                <p>JOGO DA MEMÓRIA </p>
                <div class="image-overlay">
                    <p class="overlay-text">Clique para jogar</p>
                </div>
            </div>
        </a>
    </div>

    <div class="square">
        <a href="../Quiz/index.html" class="game-link">
            <div class="image-container">
                <!-- <img src="../img/quiz.png" alt="" class="game-image"> -->
                <p>QUIZ</p>
                <div class="image-overlay">
                    <p class="overlay-text">Clique para jogar</p>
                </div>
            </div>
        </a>
    </div>
</div>

</body>
</html>