@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/*Estilos básicos*/
* {
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    margin: 0;
    padding: 0;
  }
  
  /*Define as variáveis de cor*/
  :root {
    --color-primary: #e20c0c;
    --color-secondary: #FF9A3C;
    --color-black: #000;
    --color-white: #fff;
  }
  
  /*Estilos gerais do body*/
  body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%); /*cor do fundo da página*/
    padding: 0 1rem; /*espaço entre o elemento e a sua borda*/
    
  }
  
  /*Estilos do cabeçalho, informações e da primeira parte da página*/
  header,
  .poke-section,
  .info-section,
  footer {
    border-color: var(--color-black);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 1.25rem;
  }
  
  /*Estilos do logotipo do cabeçalho*/
  header img {
    display: block;
    margin: 1rem auto;
  }
  
  /*Estilo da navegação do cabeçalho*/
  header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto 0;
  }
  
  /*Estilos dos links de navegação*/
  nav a {
    color: var(--color-black);
    font-size: 1.25rem;
    padding: .5rem;
    text-decoration: none;
  }

  /*Estilo dos links em geral*/
  a {
    color: #b30c0c;
    text-decoration: none;
  }

  /*Estilo dos botões*/
  .button {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    color: var(--color-black);
    display: block;
    font-size: 1.25rem;
    padding: .75rem 1rem; /*espaço entre a imagem e sua borda*/
    max-width: 14rem;
    position: relative; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
  }
  
  /*efeito hoover do botão*/
  .button:hover {
    transform: translateX(4px);
  }
  
  /*estilo da primeira parte da página*/
  .poke-section {
    padding-right: 0; /*preenchimento 0 do lado direito e 16 na parte inferior*/
    padding-bottom: 16rem;
  }
  
  /*estilo da imagem da primeira parte da página*/
  .poke-section img {
    display: block;
    margin: 1.25rem 0 0 auto;
    max-width: 100%;
  }
  
  /*Estilo títulos h1*/
  h1 {
    font-size: 3rem;
    line-height: 105%;
  }
  
  /*Estilo títulos h2*/
  h2 {
    font-size: 2.5rem;
  }
  
  /*Estilo parágrafo da primeira parte da página*/
  .poke-section p {
    font-size: 1.25rem;
    padding-right: 1.25rem;
  }
  
  /*Botão do pokemon go*/
  .poke-section .button {
    position: relative;
  }

/*seção dos cards*/
  .info-section {
    padding-bottom: 8rem;
  }
  
  /*seção dos cards*/
  .cards {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: start;
    gap: 1.25rem;
    margin-top: -8rem;
    margin-bottom: 4rem;
  }
  
  /*Estilo de um só card*/
  .card {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black);
    box-shadow: 4px 4px 0 var(--color-black);
    max-width: 17rem;
    padding: 2rem 0 0 2rem;
  }
  
  /*Estilo de um cartão par (segundo cartão)*/
  .card:nth-child(2n) {
    align-self: end;
    background-color: var(--color-secondary);
  }
  
  /*Estilos do texto forte dentro de um cartão*/
  .card strong {
    display: block;
    font-size: 1.30rem;
    margin: 1rem 0;
  }
  
  /* Estilos do link dentro de um cartão */
  .card a {
    display: block;
    margin: 3rem 0 0 auto;
    width: fit-content;
  }

 
  
  /* Rodapé */
  
  footer {
    border-bottom: 0;
    padding: 1rem 1.25rem 4rem;
  }

  /*Estilo de contatos no footer*/
  .newsletter-form label {
    display: block;
    font-size: 1.5rem;
  }

  
  /* Classes utilitarias para margem e alinhamento */
  
  .mt-1 {
    margin-top: 1rem;
  }
  
  .mt-2 {
    margin-top: 2rem;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  .mb-2 {
    margin-bottom: 2rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-primary {
    color: var(--color-primary);
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Responsividade */
  
  @media screen and (min-width: 40rem) {
     /* Estilos da navegação do cabeçalho para telas maiores */
    header nav {
      display: block;
      text-align: center;
    }
  
    /* Estilos dos cartões para telas maiores */
    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  
     /* Estilos dos cartões pares (segundos cartões) para telas maiores */
    .card:nth-child(2n) {
      margin-top: 1rem;
    }
  }
  
  /* Estilos responsivos para telas com largura mínima de 48rem (768px) */
  @media screen and (min-width: 48rem) {
    header div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

      /* Estilos do logotipo, navegação e botão no cabeçalho para telas maiores */
    header img,
    header nav,
    header .button {
      margin: 0;
    }
  }
  
  /* Estilos responsivos para telas com largura mínima de 72rem (1152px) */
  @media screen and (min-width: 72rem) {
    h1, h2 {
      font-size: 4rem;
    }
  
        /* Estilos do container para telas maiores */
    .container {
      display: flex;
      align-items: center;
      margin: 0 auto;
      max-width: 72rem;
    }
  
      /* Estilos para inverter a ordem das colunas no container para telas maiores */
    .container.row-reverse {
      flex-direction: row-reverse;
    }
  
        /* Estilos da coluna "sobre" no container para telas maiores */
    .about-column {
      flex: 2;
    }
  
        /* Estilos do parágrafo dentro da coluna "sobre" para telas maiores */
    .about-column p {
      font-size: 1.25rem;
      max-width: 16rem;
    }
  
        /* Estilos da navegação no rodapé para telas maiores */
    footer nav {
      flex: 1;
    }
  
        /* Estilos do formulário de inscrição na newsletter para telas maiores */
    .newsletter-form {
      flex: 3;
    }
  }
  
  /* Estilos responsivos para telas com largura mínima de 80rem (1280px) */
  @media screen and (min-width: 80rem) {
        /* Estilos do container para telas maiores */
    .container {
      max-width: 80rem;
    }
  }